.image {
   max-width: 250px;
}

.detailsVisual {
   order: 1;
   min-width: 200px;
}

.scoreContainer {
   display: flex;
   align-items: center;
   margin-top: 1rem;
}

.star {
   margin-right: .5rem;
   font-size: 22pt;
   transform: translateY(.15rem);
   color: var(--mainYellow);
}

.score {
   font-size: 20pt;
   margin-right: .5rem;
}

.detailsVisualPrice {
   color: white;
   padding: .6rem .7rem;
   background-color: var(--mainYellow);
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   margin-bottom: .3rem;
   font-weight: bold;
}

.selectImages {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   column-gap: .6rem;
}

.imageOptionContainer {
   width: 40px;
   padding: 3px;
   border: 2px solid transparent;
   cursor: pointer;
   display: grid;
   place-items: center;
}

.imageOptionContainer:hover {
   border: 2px solid black;
}

.imageOption {
   width: 100%;
   height: auto;
}


.stockMessage {
   margin-top: .4rem;
   font-size: 15pt;
}

.fewStock, .outOfStock {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   text-decoration: underline;
}

.fewStock {
   color: rgb(189, 0, 0);
}

.outOfStock {
   color: var(--mainGray);
}






@media screen and (min-width: 768px) {
   .detailsVisual {
      order: 2;
   }
}