.container {
   width: 100%;
}

.container h3{
   text-align: center;
}

.userReviewPLositioner {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.reviewContainer {
   width: 100%;
}

.reviewContainer h4 {
   color: #686867;
}

.star {
   color: var(--mainYellow);
   font-size: 18pt;
}

.reviewUserScore {
   display: flex;
}

.reviewUserName {
   font-weight: bold;
   margin-left: 1rem;
   transform: translateY(.1rem);
}

.reviewText {
   margin: .3rem 0;
}

.button {
   display: flex;
   justify-content: center;
   padding: 3rem 0 1rem;
}

.editText {
   width: 100%;
   min-height: 100px;
   font-family: Arial, Helvetica, sans-serif;
}

.editTextControllers {
   display: flex;
   gap: 15px;
   justify-content: flex-end;
   margin-top: 15px;
}