:root {
  --mainYellow: #D7B263;
  --darkYellow: #987529;
  --mainGray: #686867;
}

@font-face {
  src: url('../../public/fonts/Nikkyou-Sans.ttf');
  font-family: 'Nikkyou';
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
