.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding: 2rem;
}

.h1 {
   color: var(--mainYellow);
   text-align: center;
   margin-bottom: 5rem;
   font-family: 'Nikkyou';
   font-size: 30pt;
}

.listOutterContainer {
   display: flex;
   flex-flow: column;
   justify-content: center;
}

.thankMessage {
   text-align: center;
   color: var(--mainYellow);
   margin: 3rem 0;
   font-family: 'Nikkyou';
}

.checkoutSection {
   margin-top: 2rem;
   margin-left: 0;
}

.overstockMessage {
   position: relative;
   padding: 1.2rem;
   padding-right: 2rem;
   border: 2px solid var(--mainGray);
   background-color: var(--almostWhite);
   color: var(--mainGray);
   margin-bottom: 1rem;
}

.overstockMessage > div:first-child {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
}

.message {
   display: flex;
}

.message > div:first-child {
   max-width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.message > div:last-child {
   display: flex;
   align-items: center;
}

.message > div:last-child a {
   text-decoration: underline;
}




@media screen and (min-width: 900px) {
   
   .listOutterContainer {
      flex-flow: row;
   }

   .checkoutSection {
      margin-top: 0;
      margin-left: 2rem;
   }
}