.container {
   color: var(--mainYellow);
   margin: 0;
   display: flex;
   flex-flow: column;
   align-items: center;
}

.heading {
   text-align: center;
   font-size: 18pt;
   margin-top: 0;
   font-family: 'Nikkyou';
}

.summary {
   padding: 1rem;
   border: 1px solid var(--mainYellow);
   width: 250px;
}

.summaryBetween {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}

.summaryBetween > div:first-child {
   margin-right: 1rem;
}

.summaryEnd {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 1rem;
   font-size: 14pt;
}

.summaryTotal {
   font-weight: bold;
   font-size: 15pt;
   padding-top: 1rem;
   border-top: 1px solid var(--mainYellow);
}