/* MISCELLANEOUS */
.inputContainer, .textareaContainer, .selectContainer {
   display: flex;
   flex-flow: column;
   margin-bottom: 1rem;
}

.inputField, .textareaField, .selectField {
   padding: .5rem .3rem;
   max-height: 34px;
   background-color: var(--almostWhite);
   border: 1px solid var(--lightGray);
   border-radius: .25rem;
   margin-top: .2rem;
}
/* ------------------------------------ */



/* INPUT ELEMENT */
.filesInput {
   color: var(--mainGray);
}

/* ------------------------------------ */



/* TEXTAREA ELEMENT */
.textareaContainer {
   width: 100%;
}

.textareaField {
   width: 100%;
   min-width: 100%;
   max-width: 100%;
   resize: vertical;
   min-height: 6rem;
   font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------------------ */



/* SELECT ELEMENT */

/* ------------------------------------ */