.container {
   width: 100%;
}

.subcontainer1 {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}

.subcontainer2 {
   padding: 0 2rem;
   font-size: 9pt;
   text-transform: uppercase;
}

.authorInfo {
   display: flex;
}

.authorInfo > div:last-child {
   display: flex;
   align-items: center;
   font-size: 9pt;
   margin-left: 1rem;
   margin-right: 1rem;
}

.date {
   display: flex;
   align-items: center;
   font-size: 11pt;
}


@media screen and (min-width: 768px) {
   .subcontainer1 {
      padding: 1rem 2rem;
   }
}