.banner {
   width: 100%;
   height: 350px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-size: cover !important;
   background-repeat: no-repeat;
   position: relative;
}

.noArticlesBanner {
   color: white;
   background: url("/banner/Church.JPG");
   flex-direction: column;
}

.noArticlesBanner h2 {
   font-size: 32pt;
}

.banner::before {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, .4);
}

.articleTag {
   padding: .2rem .4rem;
   border-radius: .3rem;
   background-color: rgba(0, 0, 0, .4);
   color: var(--lightGray);
   position: absolute;
   left: .5rem;
   top: .5rem;
}

.innerBanner {
   width: 90%;
   display: flex;
   flex-flow: column;
   z-index: 2;
}

.innerBanner > h2, .innerBanner > h3 {
   color: var(--lightGray);
   text-align: center;
}

.innerBanner > h2 {
   font-size: 22pt;
   font-family: 'Nikkyou';
   margin: 0;
}

.bannerInfo {
   padding: 1rem;
   border: 1px solid var(--mainGray);
   border-top-width: 0;
   background-color: var(--almostWhite);
   display: flex;
   justify-content: space-between;
}

.bannerInfo > div:last-child > div {
   transform: translateY(.4rem);
}

.bannerAuthor {
   display: flex;
   align-items: center;
   margin-bottom: .5rem;
   margin-right: .5rem;
}

.bannerAuthor > div:first-child {
   font-size: x-large;
   margin-right: 1rem;
}

.bannerAuthor > div:last-child {
   transform: translateY(-.1rem);
}

@media screen and (min-width: 768px) {
   .innerBanner > h2 {
      font-size: 40pt;
   }
}