.container {
   border: 1px solid var(--lightGray);
   margin-top: 1rem;
}

.nameDate{
   padding: .2rem 2rem;
   min-height: 43px;
   padding-right: 1rem;
   display: flex;
   align-items: center;
   background-color: var(--almostWhite);
   border-bottom: 1px solid var(--lightGray);
   position: relative;
}

.nameDate > div:first-child {
   color: var(--darkYellow);
   margin-right: 1rem;
}

.date {
   font-size: 10.5pt;
   font-style: italic;
}

.nameInitials {
   position: absolute;
   left: -27px;
   top: -7px;
}

.ownerPhoto {
   width: 55px;
   height: 55px;
   border-radius: 100%;
   background-repeat: no-repeat;
   background-size: cover !important;
   background-position: center !important;
}

.comment {
   padding: 1rem;
}

.comment p {
   margin-top: 0;
}

.editContainer textarea {
   width: 100%;
   max-width: 100%;
   min-width: 100%;
   min-height: 100px;
   font-family: Arial, Helvetica, sans-serif;
}

.editControllers {
   display: flex;
   justify-content: flex-end;
   margin-top: 1rem;
}

.editControllers > div {
   display: flex;
   justify-content: flex-end;
}