.container {
   width: 100vw;
   min-height: calc(100vh - var(--navbarHeight));
   display: flex;
   flex-direction: column;
}

.left, .right {
   width: 100%;
   flex: 1;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left {
   background-color: white;
   order: 2;
}

.right {
   background-color: var(--mainYellow);
   order: 1;
}

.backButtonLeft , .backButtonRight {
   position: absolute;
}

.backButtonLeft {
   display: none;
   top: 1rem;
   left: 1rem;
}

.backButtonRight {
   display: flex;
   top: .5rem;
   left: 0;
}

.providenceLogo > img {
   max-width: 300px;
   padding: 2rem 0;
}

.form {
   flex-basis: 70%;
   color: white;
   padding: 1rem;
   max-width: 300px;
}

.form > div:not(:last-child) {
   margin-bottom: 1rem;
}

.formGroup {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
}

.input {
   background-color: transparent;
   border: none;
   border-bottom: .1px solid rgba(255, 255, 255, .5);
   margin-top: .15rem;
   padding: .3rem;
   font-size: 11pt;
}

.input:focus {
   background-color: rgba(255, 255, 255, .4);
}

.signinSignup {
   display: flex;
   justify-content: flex-start;
   user-select: none;
}

.signinSignup > div:first-child {
   border-top-left-radius: .7rem;
   border-bottom-left-radius: .7rem;
}

.signinSignup > div:last-child {
   border-top-right-radius: .7rem;
   border-bottom-right-radius: .7rem;
}

.activeButton, .inactiveButton {
   border: 1px solid transparent;
   padding: .4rem 1rem;
   border-radius: .1rem;
   font-weight: bold;
}

.activeButton {
   background-color: #ECDCB8;
   color: var(--mainYellow);
}

.inactiveButton {
   background-color: transparent;
   border: 1px solid #F9DB9D;
   color: white;
   cursor: pointer;
}

.inactiveButton:hover {
   background-color: rgba(255, 255, 255, .2);
}

.submitContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;
}

.submit {
   cursor: pointer;
   display: flex;
   justify-content: center;
   width: 70%;
}

.submit:hover {
   background-color: #DCCCA8;
}

.errors {
   background-color: rgba(255, 82, 82, 0.463);
   border: 2px solid rgb(123, 0, 0);
   color: rgb(123, 0, 0);
   padding: .3rem;
}

.errors > .error:not(:last-child) {
   margin-bottom: .3rem;
}

.error {
   display: flex;
   align-items: center;
}

.error > div:first-child {
   margin-right: .6rem;
   transform: translateY(.1rem);
}



@media screen and (max-width: 460px) {
   .form {
      margin: 2rem 0;
   }
}


@media screen and (min-width: 800px) {
   .container {
      flex-direction: row;
   }

   .left {
      order: 1;
   }

   .right {
      order: 2;
   }

   .backButtonLeft {
      display: flex;
   }
   
   .backButtonRight {
      display: none;
   }

   .providenceLogo > img {
      max-width: 360px;
   }

   .form > div:not(:last-child) {
      margin-bottom: 1.8rem;
   }
}



@media screen and (min-width: 1000px) {
   .providenceLogo > img {
      max-width: 430px;
   }
}