.container {
   display: none;
   padding: 0 .5rem 0 0;
}

.container > h3 {
   font-size: 22pt;
   font-family: Nikkyou;
   color: var(--mainYellow);
   margin-left: 1.5rem;
}

.viewAllFilter {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.viewAllFilter > img, .viewAllFilter > div {
   margin-top: 2rem;
   max-width: 200px;
   text-align: center;
}



@media screen and (min-width: 768px) {
   .container {
      display: block;
   }
}