.container {
   padding: 0 2.5rem;
   position: relative;
   width: 100%;
}

.container:hover >  .arrowRight, .container:hover > .arrowLeft {
   color: var(--mainYellow);
}

.arrowLeft, .arrowRight {
   color: var(--faintYellow);
   position: absolute;
   top: 200px;
   font-size: 34pt;
   transition: .4s;
   cursor: pointer;
}

.arrowLeft:hover, .arrowRight:hover {
   color: var(--darkYellow) !important;
}

.arrowLeft {
   left: 0;
}

.arrowRight {
   right: 0;
}