.container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-content: stretch;
   padding: .2rem;
   margin: 5px;
   width: 200px;
}

.linkContainer {
   display: flex;
   flex: 1;
}

.infoContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   position: relative;
}
.infoContainer:hover > h2, .infoContainer:hover > .subtitle {
   color: var(--mainYellow);
}
.infoContainer p {
   font-size: 11pt;
   font-style: italic;
}

.infoContainer h2 {
   font-size: 12pt;
   text-align: center;
   margin-bottom: .4rem;
}

.imgAuthorType {
   max-width: 170px;
   display: flex;
   flex-direction: column;
}

.imgAuthorType > img {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: .3rem;
}

.author {
   font-size: 10pt;
   color: #666;
}

.subtitle {
   text-align: center;
   font-size: 10pt;
}





.flag {
   background-color: rgba(255, 0, 0, .5);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   color: white;
}

.defaultFlag {
   position: absolute;
   top: -.6rem;
   right: -.4rem;
   height: 25.5px;
}

.biggerFlag {
   position: relative;
   height: 100%;
   margin-left: 1rem;
}

.triangleTopLeftDefault {
   position: absolute;
   top: 0;
   left: 100%;
   width: 0;
   height: 0;
   border-top: 13px solid rgba(255, 0, 0, .5);
   border-right: 13px solid transparent;
}

.triangleBottomLeftDefault {
   position: absolute;
   bottom: 0;
   left: 100%;
   width: 0;
   height: 0;
   border-bottom: 13px solid rgba(255, 0, 0, .5);
   border-right: 13px solid transparent;
}

.triangleTopLeft {
   left: 100%;
   border-top: 18px solid rgba(255, 0, 0, .5);
   border-right: 18px solid transparent;
}

.triangleBottomLeft {
   left: 100%;
   border-bottom: 18px solid rgba(255, 0, 0, .5);
   border-right: 18px solid transparent;
}