.backButtonContainer {
   display: flex;
   align-items: center;
   padding: 0 1rem;
   cursor: pointer;
   transition: .3s;
}

.backIcons {
   font-size: 22pt;
   margin-right: .7rem;
   transform: translateY(.2rem);
}

.backText {
   font-size: 10pt;
}

.primaryColor {
   color: var(--mainYellow);
}

.primaryColor:hover {
   color: var(--darkYellow);
}

.secondaryColor {
   color: white;
}

.secondaryColor:hover {
   color: var(--almostWhite);
}