.container {
   display: flex;
   flex-flow: column;
   align-items: center;
   user-select: none;
}

.controller {
   color: var(--mainYellow);
   font-size: 18pt;
   display: flex;
   align-items: center;
   cursor: pointer;
}

.quantity {
   color: var(--mainYellow);
   font-size: 15pt;
   width: 2.3rem;
   height: 2.3rem;
   border: 1px solid var(--mainYellow);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: .8rem 0;
}

.lightColor {
   color: white;
}

.lightBorder {
   border-color: white;
}