.container {
   border: 2px solid var(--mainYellow);
   color: var(--mainYellow);
   width: 170px;
   height: 30px;
   background-color: white;
   user-select: none;
   cursor: pointer;
   transition: .25s;
}


@media screen and (min-width: 768px) {

   .container:hover {
      background-color: var(--mainYellow);
      color: white;
   }
}