.container {
   position: relative;
}

.menuButton {
   align-self: stretch;
   width: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: .2s;
   min-height: 30px;
}

.menuButton:hover {
   color: var(--darkYellow);
}

.menuBox {
   position: absolute;
   top: 100%;
   right: 0;
   background-color: var(--almostWhite);
   color: var(--mainGray);
   border: 1px solid var(--lightGray);
}

.menuBox > div {
   padding: .5rem 1rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   cursor: pointer;
   transition: .25s;
   min-width: 100px;
}

.menuBox > div:hover {
   background-color: var(--lightGray);
   color: var(--darkYellow);
}