.container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
}

.innerContainer {
   min-width: 280px;
   max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.img {
   width: 100%;
}

.p {
   font-size: 13pt;
   width: 200px;
   text-align: center;
   color: var(--mainGray);
   font-weight: bold;
}

