
.boxTitle {
   text-align: center;
   border-bottom: 10px solid var(--mainYellow);
   margin-bottom: .5rem;
}

.options {
   max-height: 450px;
}

.option {
   display: flex;
   margin-bottom: .3rem;
}

.label {
   margin-left: .5rem;
   font-size: 10pt;
   transform: translateY(.1rem);
   cursor: pointer;
   user-select: none;
}

.label:hover {
   color: black;
}