.openPortal {
   width: 2.5rem;
   height: 2rem;
   background-color: var(--mainYellow);
   color: white;
   position: fixed;
   left: 0;
   font-size: 18pt;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
   z-index: 2;
}


@media screen and (min-width: 768px) {
   .openPortal {
      display: none;
   }
}