.container {
   padding: .6rem;
   background-color: white;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--mainGray);
   transition: .3s;
   cursor: pointer;
}

.container:hover {
   color: white;
   background-color: var(--mainGray);
}

.multiContainer {
   display: flex;
}

.multiContainer > div:first-child:not(:last-child) {
   margin-right: .8rem;
}
