.search {
   display: flex;
   color: var(--mainGray);
   justify-content: center;
   align-items: center;
}

.search > div:first-child {
   font-size: 22pt;
   transform: translateY(.2rem);
   margin-right: .7rem;
}

.search input {
   border: none;
   border-bottom: 2px solid var(--mainGray);
   width: 200px;
}