.openIcon {
   width: 100%;
   border-bottom: 1px solid var(--lightGray);
   padding: .2rem .3rem;
   cursor: pointer;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.articleImage {
   max-width: 65px;
}

.title:hover {
   color: var(--darkYellow);
}

.smallerFont {
   font-size: 11pt;
}