.container {
   margin: 2rem 0;
}

.container > h2 {
   font-family: Nikkyou;
   color: var(--mainYellow);
   margin-bottom: 0;
   text-align: center;
   font-size: 24pt;
}

.articleCardRow {
   margin: 2.5rem 0;
}

.button {
   display: grid;
   place-items: center;
}